<div class="main">
    <span>P</span>
    <span>R</span>
    <span class="letter"></span>
    <span>J</span>
    <span>E</span>
    <span>C</span>
    <span>T</span>
    <span>S</span>
</div>
<div class="col-md-4 col-sm-6 margin-top">
  <div class="img-thumb">
    <div class="img-caption" style="display:none">
      <div class="flip-card-front">
        <img src= "/assets/images/laptop-wallpaper7.jpg" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h1>Turvo</h1> 
        <p>Turvo is a product that gives a real
          time solution for the logistics platform using
          Shipper, Broker and Carrier, with real-time
          tracking of shipments. The product uses
          Telematics devices to track the shipment and
          give the real time updates on the platform. The
          application completes the shipments based on
          geo-fence, the invoice will be sent across the
          consumers.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src= "/assets/images/laptop-wallpaper7.jpg" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h1>Turvo</h1> 
          <p>Turvo is a product that gives a real
            time solution for the logistics platform using
            Shipper, Broker and Carrier, with real-time
            tracking of shipments. The product uses
            Telematics devices to track the shipment and
            give the real time updates on the platform. The
            application completes the shipments based on
            geo-fence, the invoice will be sent across the
            consumers.</p>
        </div>
      </div>
    </div>
  </div>