<div class="container-fluid">
    <div class="row" id="about">
        <div class="col-lg-6 p-lg-0 img-gallery">
            <img src="/assets/images/About.jpg" alt="Ganesh Bhagavath" class="myphoto">
        </div> 
    
        <div class="col-lg-6 about">
            <div class="col-md-12">
                <div class="heading">
                Hi! I'm <span>Ganesh Bhagavath</span>
                </div>
                <div class="desc">
                I'm a Bengaluru(Karnataka, India) based Full Stack Developer.
                I've 5+ years of Experience in Software Developement and 
                currently working as a Senior Software Engineer for the Product Engineering Department
                at Brillio Technologies.
                </div>
            </div>
            <div class="col-md-12 space"></div>
            <div class="col-md-12">
                <h5 class="techstack">Languages:</h5>
            </div>
            <div class="col-md-12">
                <ul class="techImages">
                    <li>
                        <img src="/assets/images/Java.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/SpringBoot.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/Angular.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/HTML5.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/CSS3.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/MongoDB.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/MySQL.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/Scala.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/Docker.png" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/RabbitMq.svg" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/Redis.svg" class="techlogos">
                    </li>
                    <li>
                        <img src="/assets/images/Javascript.png" class="techlogos">
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary" href="#" role="button">Resume</a>
        </div> 
    </div>
</div>