@import url('https://fonts.googleapis.com/css?family=Happy Monkey');

.row {
    background: url(/assets/images/ContactBG.png);
    height: 100vh;
    font-family: 'Happy Monkey', cursive;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
    height: 10%;
}

.headingh5 {
    font-family: 'Happy Monkey', cursive;
    font-size: 50px;
    font-weight: 700;
}

.formleft {
    float: left;
}

.formRow {
    margin-top: 100px;
}

.fNSection, .lNSection, .emailSection, .phoneSection {
    display: inline-block;
}

.fNSection, .emailSection, .messageSection {
    margin-left: 50px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #e91e63;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid #e91e63;
}

.dottedVLine {
    height: 30px;
    border-left: 1px dotted black;
}

.messageButton {
    margin-left: 65px;
}

.buttonMsg {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    display: inline-block;
    font-weight: 400;
    border-radius: .25rem;
}

.vl {
    border-left: 1px dotted black;
    height: 375px;
    display: inline-block;
    margin-top: 100px;
}

.phone {
    display: inline-block;
    position: absolute;
}

.device-google-pixel-2-xl {
    height: 520px;
    width: 275px;
    margin-top: 30px;
    margin-left: 200px;
}

.device-frame {
    background: #121212;
    border-radius: 36px;
    height: 520px;
    width: 275px;
    padding: 37px 15px;
    box-shadow: inset 0 0 0 2px #cfcfcf, inset 0 0 0 7px #9c9c9c;
}

.device-content {
    border-radius: 10px;
    height: 446px;
    width: 245px;
}

.device-header {
    height: 520px;
    left: 51%;
    margin-left: -137px;
    position: absolute;
    top: 30px;
    width: 274px;
}

.device-header::after,
.device-header::before {
  background: #333;
  border-radius: 3px;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -73px;
  margin-top: -3px;
  position: absolute;
  width: 146px;
}

.device-header::after {
    top: 20px;
  }

  .device-header::before {
    bottom: 16px;
  }

.device-sensors {
    background: #333;
    border-radius: 7px;
    height: 14px;
    margin-top: 8px;
    position: absolute;
    top: 36px;
    width: 14px;
    margin-left: 30px;
}

.device-btns {
    background: #121212;
    position: absolute;
    height: 75px;
    top: 210px;
    width: 3px;
    right: 214px;
}

.device-power {
    background: #121212;
    height: 30px;
    position: absolute;
    right: 214px;
    top: 150px;
    width: 3px;
  }

.instagram {
    bottom: 50px;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 85px;
}

.facebook {
    bottom: 50px;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 205px;
    border-radius: 5px;
}

.linkedIn {
    bottom: 50px;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    border-radius: 5px;
}

.gmail {
    bottom: 50px;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 145px;
    border-radius: 5px;
}

.google-search-bar {
    width: 225px;
    height: 30px;
    position: absolute;
    top: 100px;
    margin-left: 25px;
    background: #272727;
    border-radius: 40px;
}

.buttonMsg:disabled {
    background-color: rgba(0, 0, 0, 0.5);
}

.google {
    top: 7px;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 8px;
    border-radius: 5px;
}

.googleassistant {
    top: 5px;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 200px;
    border-radius: 5px;
}

.topcontent {
    margin-left: 12px;
}

.currenttime {
    top: 68px;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-family: serif;
    font-size: 12px;
}

#wifi {
    top: 70px;
    position: absolute;
    margin-left: 175px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}

#signal {
    top: 70px;
    position: absolute;
    margin-left: 190px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

#battery {
    top: 72px;
    position: absolute;
    margin-left: 205px;
    color: white;
    transform: rotate(270deg);
    font-size: 8px;
}

.hundred {
    top: 69px;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 215px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
}

.help-block {
    color: #e91e63;
    font-size: 15px;
}

.notify,
.notify::after {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.74, .06, .4, .92) forwards;
}

.notify {
    width: 220px;
    height: 30px;
    margin-top: 30px;
    position: relative;
    margin-left: 65px;
    background: rgba(0, 0, 0, 0.6);
}
.notify,
.notify::after {
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
    display: none;
}

.thankyou {
    color: green;
    font-family: "Calibri Light";
    font-style: italic;
    font-size: 17px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 2s;
    opacity: 0;
    align-items: self-start;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    margin-top: -28px;
    position: relative;
    margin-left: 65px;
    display: none;
}

.nameSection, .contactSection {
    display: flex;
  }

@keyframes revealer {
    
    0%, 50% {
            transform-origin: 0 50%;
    }
    
    60%, 100% {
            transform-origin: 100% 50%;		
    }
   
    60% {
            transform: scaleX(1);
    }
    
    100% {
            transform: scaleX(0);
    }
  }

  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes mainFadeOut {
    0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
}