<nav class="navbar navbar-expand-xl navbar-light fixed-top">
  <div id="logo">
    <img src="assets/logo.png" alt="Ganesh">
  </div>
  <div class="info">
    <div class="name">Ganesh Bhagavath</div>
    <div class="desg">Full Stack Developer</div>
  </div>

  <ul class="navbar-nav navCLass">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
      