 .btn.btn-freelance {
    background-color: hsla(0, 0%, 100%, 0.14);
    /*background-color: #437ce5;*/
  }

  #id {
    position: relative;
  }

  p {
    color: white;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    margin-left: 350px;
  }
  
  .btn.btn-hire {
    background-color: #ff0000b8;
    margin-left: 350px;
    /*background-color: #437ce5;*/
  }
  
  .btn {
    font-size: 15px;
    color: white;
    padding: 12px 20px;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 200;
  }
  
  .caret-right{
    width: 10px;
    display: inline-block;
    margin-left: 5px;
    border-left: 4px solid white;
    border-right: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

.first, .heading {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  color: white;
  font-size: 25px;
  margin-top: 320px;
}

.first {
  margin-left: 350px;
}

.heading {
  width:0px;
  animation: reveal 7s infinite;
}

.heading span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;width:355px;}
}