<div class="first">Hey I'm a Full Stack developer</div>
  <div class="heading"> 
    &nbsp;<span>from Bengaluru, Karnataka, India.</span>
  </div>
  <br>
  <p>I like fun projects. I like fun people. I like developing and designing fun projects with fun people.</p>
  <div class="callToAction">
    <a [routerLink]="['/hireBinga']" fragment="contact" class="btn btn-hire" >I'm looking to hire <span class="caret-right"></span></a>
    <a [routerLink]="['/hireBinga']" fragment="contact" class="btn btn-freelance">I need a product  <span class="caret-right"></span></a>
  </div>
