<div class="row">
  <div class="buffer-top" id="me">
    <h1>
      Hey I'm a Full Stack developer from Bengaluru, Karnataka, India.
    </h1>
    <p>I like fun projects. I like fun people. I like developing and designing fun projects with fun people.</p>
    <div class="callToAction">
      <a [routerLink]="['/hireBinga']" fragment="contact" class="btn btn-hire" >I'm looking to hire <span class="caret-right"></span></a>
      <a [routerLink]="['/hireBinga']" fragment="contact" class="btn btn-freelance">I need a product  <span class="caret-right"></span></a>
    </div>
  </div>
</div>